!= importJS('aplayer','1.10.1','dist/APlayer.min.js')


if theme.music.enable


  - const { autoplay, loop, order, volume, lyric } = theme.music
  - const { api, server, type, id } = theme.music.meting


  - let meting_api = ''
  - let musicList = []



  if api

    - meting_api = `${api}?server=${server}&type=${type}&id=${id}&r=${Math.random()}`


  else

    - musicList = site.data.music






  script(data-turbo-eval="false").

    

    window.globalAPlayer =
    window.globalAPlayer || null;




    window.initGlobalAPlayer =
    function(data){



      const container =
      document.getElementById(
        "music-player"
      );



      if(
        !container ||
        !data ||
        !data.length
      ){

        return;

      }





      if(container._aplayer){

        return;

      }






      const ap =
      new APlayer({



        container:container,



        fixed:true,



        autoplay:!{autoplay},



        theme:
        '!{theme.color.light.theme_color || theme.color.dark.theme_color || "#FFB347"}',



        loop:
        '!{loop}',



        order:
        '!{order}',



        volume:
        !{volume},



        lrcType:
        !{lyric ? 3 : 0},



        audio:data



      });






      container._aplayer =
      ap;



      window.globalAPlayer =
      ap;








      ap.on(
      "play",
      ()=>{



        // 暂停所有文章播放器


        if(
          window.articleAPlayers
        ){


          window.articleAPlayers
          .forEach(player=>{


            if(
              player &&
              player!==ap
            ){

              player.pause();

            }


          });


        }




      });



    };









    window.loadGlobalMusic =
    function(){



      const api =
      '!{meting_api}';






      if(api){



        fetch(api)


        .then(res=>{


          if(!res.ok){

            throw new Error(
              "Global music API error"
            );

          }


          return res.text();



        })



        .then(text=>{


          let data;



          try{


            data =
            JSON.parse(text);



          }catch(e){



            console.error(
              "Global music API returned HTML:",
              text
            );


            return;


          }




          window.initGlobalAPlayer(data);



        })



        .catch(err=>{


          console.error(
            err
          );


        });





      }



      else{



        window.initGlobalAPlayer(
          !{JSON.stringify(musicList)}
        );



      }



    };









    document.addEventListener(
    "turbo:load",
    ()=>{



      const box =
      document.getElementById(
        "music-player"
      );




      if(
        box &&
        !box._aplayer
      ){


        window.loadGlobalMusic();


      }



    });